:root {
  --color-white: #fff;
  --color-mineShaft: #333;/*Макета цвет black*/
  --color-purpleHeart: #7033ac;/*primary_shade*/
  --color-mediumPurple: #a65cf0;/*primary*/
  --color-mauve: #c998fb;/*primary_light*/
  --color-blueChalk: #ebd1ff;/*pink_violet*/
  --color-magnolia: #f8efff;/*pink_light*/
  --color-wildSand: #f6f6f6;/*grey_light*/
  --color-dustyGray: #999;/*grey_shade*/
  --color-snowFlurry: #daffd1;
}

.tags-left__label {
  position: relative;
  display: none;/*Для full*/
  margin-bottom: 12px;
  width: max-content;
}
/*Для full*/
/*Для тегов левой стороны*/
.tags-left__label_category:nth-child(-n+10) {
  display: block;
}
.full .tags-left__label {
  display: block;
}
/* // Для full*/
.tags-left__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  -webkit-transition: background .4s ease-in-out;
  -ms-transition: background .4s ease-in-out;
  -moz-transition: background .4s ease-in-out;
  -o-transition: background .4s ease-in-out;
  transition: background .4s ease-in-out;
}
.tags-left__input:checked+span:before {
  background-color: var(--color-mediumPurple);
}
.tags-left__input:focus ~ span:before {/*Саши стили через ~ */
  background-color: var(--color-mauve);
}
.tags-left__input:hover ~ span:before {
  background-color: var(--color-purpleHeart);
}
.tags-left__input:active ~ span:before {
  background-color: var(--color-blueChalk);
}
.tags-left__input:checked+span::after {
  opacity: 1;
}
.tags-right__h2 {
  display: inline-block;
  margin-right: 12px;
  font-weight: 400;
  font-size: 24px;
}
.tags-right__catalog {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}
.tags-right__tag {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 10px;
  padding: 8px 14px 7px 12px;
  border-radius: 2px; 
  border: 1px solid var(--color-ghost);
  line-height: 18px;
  color: var(--color-doveGray);
}
.tags-catalog {
  display: none;    
}
/*Активное состояние кнопок*/
.customPCS-active, .compaqPCS-active, .msi-allPCS-active, .priceOne-active, .priceTwo-active, .priceThree-active, .priceFour-active, .priceFive-active, .priceSix-active, .priceSeven-active, .priceEight-active, .windows-active, .macOS-active, .linux-active, .clear-active {
  display:inline-flex;
}
.tags-right__tag-btn { /*Выключатель x*/
  margin-left: 4px;
  border-radius: 50%;
  background-color: var(--color-mojo);
  color: var(--color-white);
}




